<div class="browser-hold">
    <div class="path-hold">
        <div class="path-item">
            <img src="http://www.placehold.it/200/100">
        </div>
    </div>
    <div>
        <div>
            <button><i></i>Pin</button>
            <button><i></i>Like</button>
        </div>
        <div>
            <div>
                <img src="http://www.placehold.it/400/300">
            </div>
            <div>
                <p>Text</p>
            </div>
            <div>
                modality area
            </div>
        </div>
        <div>
            <a href="#" class="tag">Word</a>
            <a href="#" class="tag">Word</a>
            <a href="#" class="tag">Word</a>
            <a href="#" class="tag">Word</a>
        </div>
    </div>
    <div>
        <div>
            <h2>Title</h2>
            <div>
                <img src="http://www.placehold.it/400/300">
            </div>
            <div>
                <p>Text</p>
            </div>
            <div>
                <button>Select</button>
            </div>
        </div>
    </div>
</div>