.image-uploader-hold {
  padding: 1rem;
  .view-artwork-button{
    margin-top: 2rem;
  }
  >input, .upload-button{
    opacity:1 !important;
  }
  .submit-button{
    margin: 1rem 0 1rem;
  }
  > form{
    padding-bottom: 5rem;
  }
}

.uploader-column{
  padding:0 !important;
  margin:0 !important;
}