.goal-date-holder{
  display:flex;
  justify-content: center;
}

.quests-header{
  margin-bottom:2rem !important;
}

.quests-container{
  padding: 1rem 0 3rem 1.5rem !important;
}

.quest-promo-card{
  margin: 2rem !important;
}