.tag{
  margin: 0.25rem;
  display: inline-block;
  .tag-label{
    text-transform: lowercase;
  }
  .remove-tag-icon{
    margin-left: 0.5rem;
    &:hover{
      cursor: pointer;
      color: setcolor('crimson');
    }
  }
}
